<%- include ("header.ejs") %>
<%- include ("menu.ejs") %>
<main>
    <div id="addform">
        <form action="" method="post">
            <label for="room_number">מספר חדר:</label>
            <input type="text" name="room_number" id="room_number" value="" />
            <br>
            <label for="bed_number">מספר מיטה:</label>
            <input type="text" name="bed_number" id="bed_number" value="" />
            <br>
            <label for="dayar_name">שם דייר/ת:</label>
            <input type="text" name="dayar_name" id="dayar_name" value="" />
            <br>
            <label for="device_number">מספר מכשיר:</label>
            <input type="text" name="device_number" id="device_number" value="" />
            <br>
            <br>
            <button>save</button>
        </form>
    </div>
</main>
<%- include ("footer.ejs") %>
